.moduleList-deleteBtn{
    margin-right: 10px;
  }

  .table-with-border {
    border: 1px solid black;
  }
  .single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unapproveColor-Btn {
  color: white;
}


.cancelColor-Btn {
  color: white;
}

.button-container button {
  margin-right: 10px; 
}

.sharedStories-img {
  width: 40;
  height: 30vw;
  object-Fit: contain;
}