USE [Resolvely]
GO
/****** Object:  UserDefinedTableType [dbo].[BatchStoryFiles]    Script Date: 1/29/2024 3:49:41 PM ******/
CREATE TYPE [dbo].[BatchStoryFiles] AS TABLE(
	[FileId] [int] NOT NULL
)
GO
