.comment-container {
    margin-left: 45%;
  }
  
.reply-container {
    margin-left: 45%;
    
}

.comment-text, .reply-text {
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 10px; 
    margin-bottom: 1%;
    border: 1px solid #ced4da;
    cursor: default;
    resize: none; 
}

.reply-button {

    margin-top: 1px;
    margin-bottom: 1%; 
    margin-left: 70%;
}
  